* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

main h1 {
    color: darkblue;
    margin-bottom: 1rem;
}

main {
    max-width: fit-content;
    padding: 15px;
}

main img {
    width: 200px;
    height: auto;
    border: 5px;
    padding: 2px;
    margin-left: 5rem;
    box-shadow: 10px #333;
    border-radius: 100%;

}

img {
    inline-size: 150px;
    block-size: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    margin: 10px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: #333;
    text-align: center;
    color: aliceblue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 10px solid #000;
    text-align: center;

}